<footer class="admin-footer footer text-center text-lg-start">



    <!-- Copyright Section -->
    <div class="text-center p-3 admin-footer__inner">
        &copy; <%= new Date().getFullYear() %> DC-Stores. All Rights Reserved.
    </div>
</footer>
